</head>  
<body>

  <nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar font-weight-bold">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="#" >
        <strong> <img src="{{url_for('static', filename='img/guest/head/valhallaHead.png')}}" alt="" class="logo-img"></strong>
      </a>
  
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mr-2">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link hoverable" href="/informacion">Información</a>
          </li>
          
          <li class="nav-item mr-2 dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Eventos
            </a>
            <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
              <a class="dropdown-item rounded  hoverable waves-light" href="/entreno">Entreno Nocturno</a>
              <a class="dropdown-item rounded  hoverable waves-light" href="/kmvertical">Kilometro Vertical</a>
              <a class="dropdown-item rounded  hoverable waves-light" href="/carrera">Carrera</a>
            </div>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">

            <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/Valhalla-Series-105351988278361">
                    <i class="fab fa-facebook-f fa-2x white-text"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.instagram.com/valhallaseries/">
                    <i class="fab fa-instagram fa-2x white-text "></i>
                </a>
            </li>
        </ul>
        

      </div>

    </div>
  </nav>