<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon"> 
    <title>{{titulo}}</title>
    <!-- Styles -->
    <link href="{{url_for('static', filename='css/font-awesome.all.css')}}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{url_for('static', filename='css/mdb.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/guest/style.css')}}" rel="stylesheet">

