<section class="patrocinadores">

    <div class="container pt-2">
        <h1 class="text-center white-text h1-responsive font-weight-bold mb-5"><strong>Nuestros Patrocinadores</strong></h1>

        <div class="row">
            <div class="col-lg-3 col-md-12 mb-3">
                
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <a href="https://www.instagram.com/sancord_/" target="_blank">
                            <img src="{{url_for('static', filename='img/patrocinadores/sancord.png')}}" alt=""  class="img-fluid" />
                        </a>
                    </div>
                
            </div>

            <div class="col-lg-3 col-md-6 mb-3">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <a href="https://www.instagram.com/optica_en_linea/" target="_blank">
                        <img src="{{url_for('static', filename='img/patrocinadores/optica.png')}}" alt=""  class="img-fluid" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-3">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <a href="https://www.instagram.com/amuc.c/" target="_blank">
                        <img src="{{url_for('static', filename='img/patrocinadores/amuc.png')}}" alt=""  class="img-fluid" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-3">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <a href="https://www.instagram.com/yogures_la_palmera/" target="_blank">
                        <img src="{{url_for('static', filename='img/patrocinadores/lapalmera.png')}}" alt=""  class="img-fluid" />
                    </a>
                </div>
            </div>
        </div>

    </div>
    
    
  </section>
  <!--Section: Content-->
<footer class="page-footer text-center font-small">
 <!-- <div class="pt-1">
    </div>
<hr class="my-1">
<div class="pb-2">
    Desarrollado por <a target="_blank" href="https://github.com/CarlosRubio9827">Carlos Rubio</a>
</div>

<div class="footer-copyright py-3">
    <div class="row font-weight-bold white-text">
        <div class="col-md-8 col-xs-12">
            Copyright© 2021 - Todos los derechos reservados        
        </div>
        <div class="col-md-2">
            Siguenos en Redes! 
            <a target="_blank" href="https://www.instagram.com/rutanatural.co/">
                <i class="fab fa-instagram">
                </i>
            </a>
            <a target="_blank" href="https://www.facebook.com/RutaNaturalCo/">
                <i class="fab fa-facebook-f"></i>
            </a>

        </div>
    </div>
</div> -->

 <!-- Footer Elements -->
 
    <div class="pt-4">    
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/Valhalla-Series-105351988278361">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.instagram.com/valhallaseries/">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    <!-- Social buttons -->
    <hr class="my-1">
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a target="_blank" href="https://github.com/CarlosRubio9827"> CarlosRubio</a>
    </div>
    <!-- Copyright -->
           
</footer>
<script type="text/javascript" src="{{url_for('static', filename='js/addons/moment.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/font-awesome.all.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/mdb.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/sweet.min.js')}}"></script>

