<footer class="page-footer text-center font-small">
 <!-- <div class="pt-1">
    </div>
<hr class="my-1">
<div class="pb-2">
    Desarrollado por <a target="_blank" href="https://github.com/CarlosRubio9827">Carlos Rubio</a>
</div>

<div class="footer-copyright py-3">
    <div class="row font-weight-bold white-text">
        <div class="col-md-8 col-xs-12">
            Copyright© 2021 - Todos los derechos reservados        
        </div>
        <div class="col-md-2">
            Siguenos en Redes! 
            <a target="_blank" href="https://www.instagram.com/rutanatural.co/">
                <i class="fab fa-instagram">
                </i>
            </a>
            <a target="_blank" href="https://www.facebook.com/RutaNaturalCo/">
                <i class="fab fa-facebook-f"></i>
            </a>

        </div>
    </div>
</div> -->

 <!-- Footer Elements -->
 
    <div class="pt-4">    
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/RutaNaturalCo/">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.instagram.com/rutanatural.co/">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    <!-- Social buttons -->
    <hr class="my-1">
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a target="_blank" href="https://github.com/CarlosRubio9827"> Carlos Rubio</a>
    </div>
    <!-- Copyright -->
           
</footer>
<script type="text/javascript" src="{{url_for('static', filename='js/addons/moment.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/font-awesome.all.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/mdb.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/sweet.min.js')}}"></script>

