<footer class="page-footer text-center font-small">
 <div class="pt-1">
    </div>
<hr class="my-1">
<div class="pb-2">
    Desarrollado por Carlos Rubio Gallego
</div>

<div class="footer-copyright py-3">
    Copyright© 2020 - Todos los derechos reservados
</div>
           
</footer>
<script type="text/javascript" src="{{url_for('static', filename='js/addons/moment.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/font-awesome.all.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/mdb.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/sweet.min.js')}}"></script>

